{% extends 'layout.html' %}
{% block title %}Web Crawler{% endblock %}
{% block heading %}Homepage{% endblock %}
{% block body %}
<div class="row">
  <div class="col-lg-12 mb-5">
    <div class="card">
      <div class="card-header">
        <h3>{{ self.heading() }}</h3>
      </div>
      <div class="card-body">
        <h3>List of Resources for Crawler</h3>
        <ul>
          <li>
            <a href="https://github.com/miso-belica/jusText">Justext by Jan Pomikalek</a>
          </li>
          <li>
            <a href="https://github.com/Delta-Sigma/urdu-stopwords">Urdu Stopwords</a>
          </li>
          <li>
            <a href="https://github.com/mohbadar/pashto-stopwords">Pashto Stopwords</a>
          </li>
        </ul>
        <h3>List of Languages Supported</h3>
        <ul>
          {% for language in languages %}
            <li>{{ language }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}