[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
gunicorn = "*"
flask = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
lxml = "*"

[dev-packages]
pylint = "*"
rope = "*"

[requires]
python_version = "3.8"
